#aboutus
{
    padding: 20px;
    text-align: justify;
    display: inline;
}

.aboutusimg
{
    width: 50%;
}

.aboutus
{
    width: 30%;
}

.teaminfo
{
    text-align: left;
}

figcaption 
{
    font-family: "Ink Free", Georgia, Arial;
    font-weight: bold;
}

h3
{
    font-family: "Ink Free", Georgia, Helvetica, sans-serif;
    font-weight: bold;
    text-align: left;
    
}

article
{
    display: inline-block;
    
}

.nameDisplay
{
    font-family: "Ink Free", Georgia, Arial;
    font-weight: bold;
    color: black;
    text-align: left;
}