#aboutus
{
    padding: 20px;
    text-align: center;
    display: inline;
}

.aboutusimg
{
    text-align: center;
    width: 50%;
    border-radius: 50%;
}

.aboutus
{
    width: 150px;
    height: auto;
    border-radius: 50%;
}

.teaminfo
{
    text-align: justify;
}

figcaption 
{
    font-family: "Ink Free", Georgia, Arial;
    font-weight: bold;
}

h3
{
    font-family: "Ink Free", Georgia, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
    
}

article
{
    display: inline-block;
}

.nameDisplay
{
    font-family: "Ink Free", Georgia, Arial;
    font-weight: bold;
    color: black;
    text-align: left;
}
