h6
{
    font-family: Georgia, Helvetica, sans-serif;
    color: #F9E076;
    text-align: center;
}

/**
div.card{
    border-style: solid;
    border-color: #2cc1c0;
    border-width: 1.5px;
}
**/

img.card-img-top{
    width:150px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.cookbooksession{
    text-align: center;
    color: black; 
}
img.profilepic{
    border-style: solid;
    border-color: black;
    border-width: 1px;
}

