/* Use a media query to add a break point at 800px: */
/*@media screen and (max-width: 1050px) {
  .firsts .second .third .fourth{
    width: 100%;  (This one comment --> The width is 100%, when the viewport is 800px or smaller) 
  }
}*/

main 
{
    font-family: "Times New Roman", Helvetica, sans-serif;
    color: black;
}

.jumbotron
{
    background-color: transparent;
    height:170px;  /* can add bg image */
}

.display-4
{
    font-family: "Ink Free", Georgia, Helvetica, sans-serif;
    font-weight: bold;
    color: #F9E076;
}

h2
{
    font-family: "Ink Free", Georgia, Arial;
    color: #2cc1c0;
    padding-top: 10%;
    padding-bottom: 1%;
    font-size: 30px;
    font-weight: bold;
    text-align: left;
    border-bottom: 1px solid #F9E076;
    /*font-style: italic;
    letter-spacing: 0.2em;*/
}

h3
{
    font-family: Georgia, Helvetica, sans-serif;
    color: #F9E076;
    text-align: center;
}

h4
{
    font-family: "Ink Free", Georgia, Arial;
    font-weight: bold;
    color: black;
    text-align: center;
}

h5
{
    font-family: "Times New Roman", Helvetica, sans-serif;
    font-size: 17px;
    line-height: 30px;
}

#latest p
{
    padding: 20px;
    font-size: 17px;
    text-align: justify;
    display: inline-block;
}

#delmodal-delcontent1 {
    background: url(https://media.istockphoto.com/illustrations/baking-or-cooking-background-with-kitchen-utensils-flour-and-eggs-illustration-id1202928296?k=20&m=1202928296&s=170667a&w=0&h=0QJjXVNIC3yJzw2H3BR9kUNYukByOyS8iGY2x_TY_70=)
    center center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color:white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
}