nav
{
    background-color: white;
    border-bottom: 2px solid #2cc1c0;
    font-family: "Ink Free", Helvetica, sans-serif;
    font-weight: bold;
}

nav div
{
    background-color: white;
}

nav a {
    color: #2cc1c0;
}

nav img {
    width: 170px;
    height: auto;
}

.navbar-toggler-icon {
    background-image: url('https://mdbcdn.b-cdn.net/img/svg/hamburger1.svg?color=6a1b9a');
}
/* sticky commented
.navbar
{
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
}*/

footer
{
    font-size: 12px;
    font-style: italic;
    text-align: center;
    width: 100%;
    border-top: 2px solid #2cc1c0;
}