nav
{
    background-color: white;
    border-bottom: 2px solid #2cc1c0;
    font-family: "Ink Free", Helvetica, sans-serif;
    font-weight: bold;
}

nav div
{
    background-color: white;
}

nav a {
    color: #2cc1c0;
}

nav img {
    width: 170px;
    height: auto;
}

.navbar-toggler-icon {
    background-image: url('https://mdbcdn.b-cdn.net/img/svg/hamburger1.svg?color=6a1b9a');
}
/* sticky commented
.navbar
{
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
}*/

.fa {
  padding: 10px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa:hover {
    opacity: 0.2;
}

.fa-instagram {
  background: url("https://media.istockphoto.com/photos/abstract-blurred-gradient-bright-mesh-banner-background-textureblue-picture-id1330343437?b=1&k=20&m=1330343437&s=170667a&w=0&h=YjzU_nIGLF_kDGue7V6O0tT6boe3zSHc3tp9CJ_CIRg=");
  background-size: 50px 50px;
  color: white;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

footer
{
    font-size: 12px;
    font-style: italic;
    text-align: center;
    width: 100%;
    border-top: 2px solid #2cc1c0;
}